:root {
  --nc-red: #eb1a24;
  --nc-red-transparent: #eb1a2500;
  --nc-grey: #f8f9f9;
  --nc-darkgrey: #bbbbbb;
  --reddit-bluegrey: #dae0e6;
  --greyed-out: rgb(134, 133, 133);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.3;
}

.app-container {
  background-color: var(--reddit-bluegrey);
  min-height: 100vh;
}

.app {
  text-align: center;
  max-width: 1100px;
  min-width: 200px;
  min-height: 100vh;
  margin: auto;
  background-color: whitesmoke;
  padding: 0px 50px;
}

@media screen and (max-width: 525px) {
  .app {
    padding: 0px;
  }
}

a:visited {
  text-decoration: none;
  color: var(--greyed-out);
}
a:link,
a:active {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #eb1a24;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

#static-title {
  color: var(--nc-red);
  text-decoration: underline 0.12em var(--nc-red-transparent);
  transition: text-decoration-color 300ms;
}
#static-title:hover {
  text-decoration-color: var(--nc-red);
}

.static-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#logged-in-user-card {
  display: flex;
  align-items: center;
  border: 1px rgb(131, 123, 123) solid;
  border-radius: 5px;
  padding: 5px;
}

#logged-in-name {
  margin-left: 10px;
  margin-right: 10px;
}

.user-avatar {
  width: 20px;
  border-radius: 50%;
  filter: grayscale(1);
}

.static-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#filter-bar {
  min-width: 300px;
  min-height: 20px;
  background-color: var(--nc-red);
}

#filter-bar-text {
  color: white;
}

#articles-list {
  background-color: var(--nc-grey);
  min-width: 300px;
}

.article-card {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(139, 134, 134);
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

.article-card-creation-details {
  text-align: left;
  color: var(--greyed-out);
  font-size: 0.75em;
}

.article-card-title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.article-card-engagement-details {
  text-align: left;
  color: var(--greyed-out);
}

#article-page {
  justify-content: center;
  background-color: var(--nc-grey);
}

#article-back-button {
  min-height: 30px;
  background-color: var(--nc-darkgrey);
}

#article {
  margin: auto;
  justify-content: center;
  width: 70vw;
  max-width: 700px;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 500px) {
  #article {
    width: fit-content;
  }
}

#article-main {
  text-align: left;
}
#article-creation-details {
  text-align: left;
  color: var(--greyed-out);
}
#article-title {
  text-align: left;
}
#article-body {
  text-align: left;
  line-height: 1.5;
}

#article-engagement-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#article-comment-count {
  text-align: left;
  color: var(--greyed-out);
}

.vote-box {
  display: flex;
  justify-content: space-between;
  max-width: 75px;
  align-items: center;
}

.vote-button {
  border-color: var(--reddit-bluegrey);
  border-radius: 2px;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: white;
}

.vote-button:disabled {
  filter: grayscale(1);
  opacity: 0.5;
}

.vote-count {
  font-size: 1.1em;
  margin-left: 7px;
  margin-right: 7px;
}

.vote-error-message {
  color: #eb1a24;
}

.comment-card {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}

.comment-details {
  text-align: left;
  color: var(--greyed-out);
  font-size: 0.75em;
}

.comment-body {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}

.comment-vote-box {
  text-align: left;
  color: var(--greyed-out);
}

#comment-post {
  margin-top: 20px;
  text-align: left;
  margin-bottom: 35px;
}

#comment-textbox {
  width: 100%;
}

#comment-submit {
  width: 100%;
}

#comment-error-message {
  color: #eb1a24;
}
