/* .app-container {
} */

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a:link,
a:hover,
a:active {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: rgb(134, 133, 133);
}

#static-title:link,
#static-title:hover,
#static-title:active,
#static-title:visited {
  text-decoration: none;
  color: black;
}

:root {
  --nc-red: #eb1a24;
  --nc-grey: #f8f9f9;
  --reddit-bluegrey: #dae0e6;
}

.app {
  text-align: center;
  max-width: 1100px;
  min-width: 200px;
  margin: auto;
  background-color: white;
  padding: 0px 50px;
}

@media screen and (max-width: 700px) {
  .app {
    padding: 0px;
  }
}

.static-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* .static-title {

} */

#logged-in-user-card {
  display: flex;
  align-items: center;
  border: 1px rgb(66, 63, 63) solid;
  border-radius: 5px;
  padding: 5px;
}

#logged-in-name {
  margin-left: 10px;
  margin-right: 10px;
}

.user-avatar {
  width: 20px;
  border-radius: 50%;
}

.static-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#filter-bar {
  min-width: 300px;
  min-height: 20px;
  background-color: var(--nc-red);
}

#articles-list {
  background-color: var(--nc-grey);
  min-width: 300px;
}

.article-card {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(139, 134, 134);
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

.article-card-creation-details {
  text-align: left;
}

.article-card-title {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.article-card-engagement-details {
  text-align: left;
}

#article-page {
  justify-content: center;
  background-color: var(--nc-grey);
}

#article-back-button {
  min-height: 30px;
  background-color: whitesmoke;
}

#article {
  margin: auto;
  justify-content: center;
  width: 70vw;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}

@media screen and (max-width: 500px) {
  #article {
    width: fit-content;
  }
}

#article-main {
  text-align: left;
}
#article-creation-deta {
  text-align: left;
}
#article-title {
  text-align: left;
}
#article-body {
  text-align: left;
}
#article-comment-count {
  text-align: left;
}
